/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/


/* https://fonts.google.com/specimen/Work+Sans?category=Sans+Serif&thickness=2 */


/* https://coolors.co/ccd5ae-e9edc9-fefae0-fdf8ec-d4a373 */


/* https://css-tricks.com/snippets/css/using-font-face/ */

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

/* 
  TEXT ELEMENTS -------------------
*/


/* https://stackoverflow.com/questions/28140628/how-to-remove-borders-of-the-header-tag */

h1 {
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Bodoni Moda', serif;
    font-style: Semi-bold;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 1rem;
}

h2 {
    font-family: 'Bodoni Moda', serif;
    font-style: regular;
    font-weight: 400;
    font-size: 1.25rem;
}

h3 {
    font-family: 'Bodoni Moda', serif;
    font-style: regular;
    font-weight: 400;
    font-size: 1.12rem;
    margin-bottom: 0;
}

h1,
h2.h3 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.search {
    width: 100%;
    max-height: fit-content;
    /* border: 1px solid #645C41;
    background-color: #FEFBF4; */
}

.search input {
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: 100%;
    height: auto;
    padding: 0.75rem;
    /* border: none; */
}

.search-button {
    width: fit-content;
    cursor: pointer;
    padding: 0.25rem;
    margin: 1rem;
    background-color: none;
    border: none;
}

#searchButton svg {
    width: 25px;
    height: 25px;
}


/* https://stackoverflow.com/questions/22252472/
how-to-change-the-color-of-an-svg-element */

.search-icon {
    fill: #645C41;
}

.search-icon:hover,
.search-icon:focus {
    fill: #B2773D;
}

nav {
    display: inline-block;
    padding-top: 1.5rem;
    text-align: right;
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #FDF8EC;
    margin-top: 0;
    padding: 1.5rem;
    border-bottom: 0.1rem solid #645C41;
    transition: smooth;
}

.top-bar.top-bar-resized {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.topnav .icon {
    display: none;
    margin-top: 0;
}

@media screen and (max-width: 37rem) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .search-input {
        display: none;
    }
}

.top-3-column-fixed {
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 37rem) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        /* position: absolute;
        right: 0rem;
        top: 1.2rem; */
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
    }
    .search-input.responsive {
        display: block;
        width: 100%;
        height: auto;
        padding: 0.75rem;
        margin-left: 1rem;
    }
    .search.responsive {
        position: relative;
        width: 100%;
    }
    .search-button.responsive {
        position: absolute;
        top: 0.5rem;
        right: 0rem;
        margin: 0rem;
    }
    .top-3-column-fixed {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media (min-width: 37rem) {
    .search {
        position: relative;
        width: 70%;
    }
    .search-button {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        margin: 0rem;
    }
}

hr {
    margin-top: 2rem;
    border-top: 0.1rem solid #645C41;
    border-bottom: none;
}

body {
    margin: 1.5rem;
    background-color: #FDF8EC;
    color: #645C41;
    font-family: 'Work Sans', sans-serif;
    max-width: 70rem;
}


/* https://dev.to/braydoncoyer/change-text-highlight-color-with-css-80 */

::selection {
    background: #B2773D;
    color: #FDF8EC;
}


/* https://css-tricks.com/almanac/selectors/p/placeholder/ */

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    margin: 1.5rem;
    color: #645C41;
    font-family: 'Work Sans', sans-serif;
    max-width: 70rem;
}


/* https://learn.shayhowe.com/html-css/building-forms/ */

fieldset {
    border: 1px solid #645C41;
    padding: 1rem;
}

.box {
    border: 1px solid #645C41;
    padding: 1rem;
}

.title {
    font-family: 'Bodoni Moda', serif;
    font-style: regular;
    font-weight: 400;
    font-size: 1.25rem;
}

.footer {
    font-size: 0.8rem;
}


/* 
  INTERACTIVE ELEMENTS -------------------

  https://stackoverflow.com/questions/30558184/
  make-a-button-fill-the-full-width-of-container-element
*/

img:hover {
    opacity: 0.7;
}

a {
    display: block;
    color: #645C41;
    font-family: 'Bodoni Moda', serif;
    font-style: regular;
    font-weight: 400;
    text-decoration: none;
}


/* https://www.w3schools.com/css/css_link.asp 
https://stackoverflow.com/questions/21498400/
why-does-text-decoration-underline-not-work/21502392*/

a:hover,
a:focus {
    color: #9E6A36;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    /* border-bottom: 1px solid #9E6A36;
  padding-bottom: 3px; */
}


/* https://stackoverflow.com/questions/21444096/
how-to-center-text-inside-anchor-tag */

.button {
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    color: #FEFBF4;
    font-family: 'Bodoni Moda', serif;
    background-color: #9E6A36;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    max-width: inherit;
}

.button:hover,
.button:focus {
    color: #FEFBF4;
    text-decoration: none;
    background-color: #B2773D;
}

.mySlides {
    display: none;
}


/* https://www.w3schools.com/howto/
tryit.asp?filename=tryhow_css_custom_radio */


/* The container */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.products {
    width: 15rem;
    height: auto;
    display: inline-block;
}

.product-container {
    position: relative;
}

.products-descr {
    position: absolute;
    left: 10%;
    top: 75%;
}


/* https://www.geeksforgeeks.org/svg-viewbox-attribute/ 
https://stackoverflow.com/questions/60491855/how-to-resize-the-clippath-area-of-svg
https://css-tricks.com/using-svg/
https://lessons.livecode.com/m/33498/l/325452-getting-svg-path-data-for-svg-icon-extension
*/

img {
    width: 100%;
    height: auto;
}

.order-summary {
    position: fixed;
    top: 2.5rem;
    right: 1rem;
    left: 60%;
    z-index: 1;
}

.left-align {
    text-align: -webkit-right;
}


/* https://css-tricks.com/almanac/properties/s/scrollbar-color/ */

.scrollable-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-color: #9E6A36;
    ;
}