.banner-rings {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(100, 92, 65, 0.1), rgba(100, 92, 65, 0.1)), url("../img/rings-banner.jpg");
    /* Set a specific height */
    height: 20rem;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fixed-menu {
    position: fixed;
    top: 20%;
    left: 7%;
    background-color: #FDF8EC;
    height: fit-content;
    padding: 2rem;
}

.margin-left {
    margin-left: 10%;
}